<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Of The Day</title>

	<base href="/" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Gv6J6Lo6mW">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Gv6J6Lo6mW">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Gv6J6Lo6mW">
	<link rel="manifest" href="/site.webmanifest?v=Gv6J6Lo6mW">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=Gv6J6Lo6mW" color="#257b93">
	<link rel="shortcut icon" href="/favicon.ico?v=Gv6J6Lo6mW">
	<meta name="apple-mobile-web-app-title" content="Of The Day">
	<meta name="application-name" content="Of The Day">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#f8f8f8">

	<meta property="og:title" content="Of The Day" />
	<meta property="og:image" content="og_image.png" />
	<meta property="og:url" content="https://oftheday.andrewmessier.com" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="A place for Andrew to share things." />

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
	<main id="react-root"></main>
</body>

</html>